h2 Portfolio Admin
//for item in items
//	.portfolio-item
//		span= item.id
//		a(href="/admin/portfolio/delete/#{item.id}") Delete!
//a(href='/admin/portfolio/create') New Portfolio Item
.portfolio-admin
	.items(data-bind='visible: !selectedItem()')
		.itemList(data-bind='foreach: items')
			.item
				a(href="#", data-bind='click: function() { $root.editItem($data) }')
					span(data-bind='text: name()')
				input(type='submit', data-bind='click: function() { $root.deleteItem($data) }', value='Delete')
		input(type='submit', data-bind='click: function() { $root.newItem($data) }', value='New Item')
	.current-item(data-bind='visible: selectedItem(), with: selectedItem()')
		.row
			label Name:
			input(type='text', data-bind='value: name()')
		.row
			label 
		
script
	new AdminPortfolio
		initialData: items