h2 Portfolio Admin
.portfolio-admin
	.items(data-bind='visible: !selectedItem()')
		.itemList(data-bind='foreach: items')
			.item
				a(href='#', data-bind='click: function() { $root.editItem($data) }')
					span(data-bind='text: name()')
				a(href='#', data-bind='click: function() { $root.moveUp($data) }, visible: function() { $root.canMoveUp($data) }')^
				a(href='#', data-bind='click: function() { $root.moveDown($data) }, visible: function() { $root.canMoveDown($data) }')v
				a(href='#', data-bind='click: function() { $root.delete($data) }')x
		a(href='#', data-bind='click: function() { $root.newItem() }') New Portfolio Item
	.current-item(data-bind='visible: selectedItem(), with: selectedItem()')
		.row
			label Name:
			input(type='text', data-bind='value: name()')
		.row
			label 
		
script
	//var manager = new PortfolioManager(items);
	//manager.init();