p 
	| Some Weather Web Design & Programming is a small web development outfit based in Weehawken, NJ that is dedicated to
	| providing professional web services that ultimately result in clean, user-friendly interfaces.

p
	| Our philosophy is simple. There is no shortage of garbage on the internet.
	br
	| We’re not interested in adding to the noise; on the contrary, we believe that combining simple design and code that just 
	| works is a rare and powerful combination that will distinguish your web presence from the rest.

p 
	| Whether you’re a five-star graphic designer in need of a web geek for your next big project, a worthy funk-rock band 
	| whose website is lacking and needs a facelift, or a small company with nothing but a classy logo, we are committed to 
	| providing you with the highest quality service available (and at a price you can afford, too).

p 	
	| Some Weather Web Design & Programming specializes in the creation of simple, cross browser-compatible, HTML- & CSS-based 
	| websites, complimented by jQuery, WordPress, and general PHP & MySQL programming.

p Got questions? Want to talk further? Then, by all means, contact us.