!!!
html
	head
		title= 'Some Weather Web Design & Development'
		//!= js('test')
		!= css('style')
	body
	#wrapper
		#header
			#logo
				a(href='/')
					img(src='/img/logo.png')
			#nav
				a(href='/blog')
					#nav_blog
				a(href='/contact')
					#nav_contact
				a(href='/about')
					#nav_info
				a(href='/')
					#nav_portfolio
		#content!= body
		a(href='/admin') Admin
		.push
		#footer
			#left
				ul
					li.wBorder
						a(href='/')