h2 Login
form(method='POST')
	.row
		label(for='user[userName]') Username:
		input(type='text', name='user[userName]')
	.row
		label(for='user[password]') Password:
		input(type='password', name='user[password]')
	.row
		input(type='submit', value='Login')