$blue = #181832;
$blue2 = #1b75bc;

html, body { height:100%; }
body { background:url(../img/bg.png); font-family:"Avenir LT Std", Helvetica; color:$blue; margin:0; }
a { text-decoration:none; color:$blue2; }
a:hover { text-decoration:underline; color:$blue; }
img { border:none; }
a img { text-decoration: none; }
h2 { color:$blue2; text-align:center; }

#wrapper { min-height:100%; height:auto !important; height: 100%; margin: 0 auto -100px; }
#wrapper, #footer { min-width:1150px; }
#header { height:168px; background:url(../img/bgheader.png); }
#header ../img { margin:65px 0 0 20px; float:left; cursor:pointer; }
#logo { background:url(../img/cloud.png) no-repeat 5px 5px; float:left; width:655px; }
#nav { float:right; width:425px; height:32px; margin:64px 5px 0 0; background:url(../img/bgnav.png) bottom right no-repeat; padding:72px 32px 0 0px;  }
#nav div { float:right; height:30px; background-image:url(../img/nav.png); cursor:pointer; }
#nav_portfolio { width:118px; }
#nav_portfolio:hover, #nav_portfolio.current { background-position:0 30px; }
#nav_info { width:51px; background-position:215px 0; margin-left:15px; }
#nav_info:hover, #nav_info.current { background-position:215px 30px; }
#nav_contact { width:100px; background-position:162px 0; margin-left:15px; }
#nav_contact:hover, #nav_contact.current { background-position:162px 30px; }
#nav_blog { width:60px; background-position:60px 0; margin-left:15px; }
#nav_blog:hover, #nav_blog.current { background-position:60px 30px; }
#content { padding:25px 25px 0 25px; }
.loading { width:150px; background:url(../img/bgtwitter.png) repeat-x #1b75bc; border:solid 1px #fff; border-radius:.5em; margin:45px auto; padding:15px; }
.loading > div { text-align:center; color:#fff; font-size:1.4em; }

/* Portfolio */
#portfolio { width:1000px; padding:0 15px 15px 15px; margin:10px auto; }
.portfolioItem { float:left; margin:25px 25px 0 25px; cursor:pointer; border:solid 1px #ccc; border-radius:.6em; width:183px; height:185px }
.portfolioItem ../img { border-radius:.4em; margin:4px; }
.portfolioItem:hover { background:#1b75bc; }

/* Full-Size Image */
#overlay { display:none; position:fixed; left:0; top:0; background:url(../img/bgoverlay.png); height:100%; width:100%; }
#popup { display:none; position:fixed; width:665px !important; border-radius:.5em; padding:6px; background:url(../img/bgdetails.png); }
#url { text-align:center; margin:3px; }
#fullsize  { border-radius:.3em; }
#close { position:absolute; right:-15px; top:-12px; background:url(../img/close.png); height:30px; width:30px; cursor:pointer }
#close2 { width:75px; margin:0 auto; font-size:.8em; }

/* Tooltip (Client Details) */
#tooltip { position:absolute; z-index:100; left:-1000px; display:none; }
#tooltip_crown { min-width:320px; height:82px; background:url(../img/popupcrown.png) no-repeat 10px 0; }
#instructions { font-size:.9em; font-style:italic; text-align:center; color:#bbb; margin-top:6px; }
#portfolio_detail { border-radius:.8em; padding:5px; background:url(../img/bgdetails.png); }
#client_name { font-size:1.7em; color:#1b75bc; font-weight:bold; text-align:center; text-transform:lowercase; letter-spacing:2px; margin:5px 0; }
#client_isdesign { display:none; letter-spacing:1px; width:180px; margin:0 auto; }
#client_isprogramming { display:none; letter-spacing:1px; width:180px; margin:0 auto; margin-bottom:5px; }
.client_att_1 { float:left; width:20px; }
.client_att_2 { float:left; width:150px; padding:3px 0 0 8px; font-weight:bold; }
#client_copy { width:265px; margin:0 auto; line-height:1.4em; font-size:.9em; text-align:left; font-size:.8em; }

/* General Content */
.wrapper { width:800px; margin:0 auto; margin-top:35px; font-size:.85em; line-height:1.6em; padding-bottom:20px; }
.bold { font-weight:bold; }

#form_wrapper { width:800px; margin:0 auto; margin-top:35px; }
.contacttext { text-align:center; font-size:.8em; font-weight:200; font-style:italic; }
.asterisk { color:#e44848; font-style:normal; }
.row { margin:10px; }
.formtitle { float:left; width:250px; height:20px; text-align:right; padding:5px 15px 5px 0; border-bottom:dotted 1px #bbc9dd; }
.forminput { float:left; width:350px; margin-left:10px; }
.forminput input { height:25px; width:200px; font-size:1.2em; }
#txtContent { height:125px; width:200px; }
.formbutton input { margin-left:285px; width:200px; height:30px; }

/* Blog */
.tags { color:#606069 }
.sidebar h3, .tags { padding-left:25px; background:url(../img/umbrella.png) top left no-repeat; }
.sidebar ul { list-style-type:none; }
.post { margin-bottom:50px; }
/* Code Snippets in Blog */
.wp_syntax { background:#fff; border:solid 1px #ccc; }
.line_numbers { background:#b0fbc0; }

/* Footer */
.push { height:100px; }
#footer { height:80px; padding:10px; background:#181832 url(../img/bgfooter.png) repeat-x bottom left; color:#1b75bc; }
#footer a:hover { color:#1b75bc !important; }
#left { width:28%; float:left; }
#left ul { margin:0; margin-top:5px; padding:0; list-style-type:none; font-size:.9em; }
#left li { float:left; padding:8px; text-transform:uppercase; letter-spacing:1px; }
#left li.wBorder { border-right:solid 1px #1b75bc; }
#twitter { float:left; width:45%; padding:0 5px; }
#twitter_updates { padding:8px 5px; color:#fff; border-radius:.5em; background:#1b75bc url(../img/bgtwitter.png) repeat-x top left; text-align:center; font-size:.8em; }
#twitter_updates a { color:#181832; font-style:italic; }
#twitter_updates a:hover { color:#181832 !important; }
#twitter_link { padding:3px 0 0 210px; font-size:.8em; background:url(../img/twittertail.png) no-repeat 185px 0; }
#twitter_link .sw { font-style:italic; color:#5ca1d8; }
#gatheringupdates { text-align:left; width:200px; margin:0 auto; }
.tweet { display:none; }
#right { float:left; width:26%; padding-top:5px; }
#technologies { width:225px; margin:0 auto; padding-bottom:5px; }
#technologies ../img { padding:0 10px; }
#copyright, #admin { font-size:.6em; text-align:center; color:#175f97; }

.hidden { display:none; }
.center { width:600px; margin:0 auto; line-height:1.5em; }
.clear { clear:left; }
.clearRight { clear:right; }
.clearBoth { clear:both; }